body {
  min-width: 1000px;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #000000;

  background: #fbfcfd url(../img/bg.png) repeat center top;
}

img {
  min-width: 100%;
  height: auto;

  vertical-align: top;

  border: 0;
}

.l-clearfix::before,
.l-clearfix::after {
  content: "";

  display: table;
}

.l-clearfix::after {
  clear: both;
}

.page-header {
  min-height: 119px;
  margin-bottom: 39px;

  background-color: #eff3f7;
}

.page-header__wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.logo {
  display: block;
  float: left;
  width: 246px;
  height: 42px;
  padding: 0 10px;
  padding-top: 39px;
  padding-bottom: 38px;

  font-size: 0;
}

.logo img {
  display: inline-block;

  vertical-align: top;
}

.logo__ico {
  min-width: 50px;
  height: 40px;
  padding-right: 14px;
}

.logo__text {
  min-width: 179px;
  height: 42px;
}

.social-links {
  display: block;
  float: right;
  padding: 0 10px;
  padding-top: 35px;
}

.social-links__btn {
  display: inline-block;
  width: 47px;
  height: 47px;
  margin-right: 24px;

  font-size: 0;
  vertical-align: bottom;

  background-color: #58697a;
  background-image: url(../img/sprites.png);
  background-repeat: no-repeat;
  border-radius: 25px;
}

.social-links__btn:last-child {
  margin-right: 0;
}

.social-links__btn:hover {
  background-color: #3ba8c0;
}

.social-links__btn--vk {
  background-position: -2px -278px;
}

.social-links__btn--tw {
  background-position: 2px -240px;
}

.social-links__btn--fb {
  background-position: 7px -96px;
}

.social-links__btn--github {
  background-position: -6px -143px;
}

.page-main {
  min-height: 495px;
  margin-bottom: 38px;
}

.page-main__wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-nav {
  float: left;
  width: 250px;
  min-height: 146px;
  margin-right: auto;
  padding-left: 10px;
}

.main-nav ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.main-nav__item {
  display: block;

  font-size: 21px;
  line-height: 31px;
  font-family: "PT Sans Narrow", Arial, sans-serif;

  background-color: #eff3f7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #3ba8c0;
}

.main-nav__item:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.main-nav__item:last-child {
  border: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.main-nav__item--active {
  background-color: #3ba8c0;
}

.main-nav__item a {
  display: block;
  padding: 20px 25px;

  color: #959aa8;
  text-decoration: none;
}

.main-nav__item a:hover {
  color: #3ba8c0;
}

.main-nav__item--active a {
  padding: 18px 25px;

  font-size: 23px;
  line-height: 35px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #ffffff;
}

.main-nav__item--active a:hover {
  color: #ffffff;
}

.resume {
  float: right;
  width: 650px;
  padding-right: 10px;
}

.resume__section {
  float: left;
  width: 100%;
  margin-bottom: 26px;

  background-color: #eff3f7;
}

.resume__section:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.resume__section:last-child {
  margin-bottom: 0;

  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.resume__title {
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 22px;

  font-weight: 400;
  font-size: 27px;
  line-height: 40px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #3ba8c0;

  border: 0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #3ba8c0;
  -webkit-border-image: -webkit-linear-gradient(left, #3ba8c0 215px, transparent 215px) 0 0 1 0;
  -o-border-image: linear-gradient(to right, #3ba8c0 215px, transparent 215px) 0 0 1 0;
  border-image: linear-gradient(to right, #3ba8c0 215px, transparent 215px) 0 0 1 0;
}

.resume__place {
  position: relative;

  margin-bottom: 20px;
  padding-left: 124px;
}

.resume__place:first-of-type {
  margin-top: 22px;
}

.resume__place:last-child {
  margin-bottom: 45px;
}

.resume__place::before {
  content: " ";
  position: absolute;

  width: 42px;
  height: 34px;

  background-color: transparent;
  background-image: url(../img/sprites.png);
  background-repeat: no-repeat;
}

.resume__place--briefcase::before {
  top: 6px;
  left: 58px;

  background-position: -10px -53px;
}

.resume__place--academic-cap::before {
  top: 10px;
  left: 58px;

  background-position: -10px -10px;
}

.resume__place--paper::before {
  top: 6px;
  left: 61px;

  background-position: -5px -203px;
}

.resume__place p {
  margin: 0;

  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #4a545d;
}

.resume__date {
  display: block;

  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #4a545d;
}

.page-footer {
  min-height: 78px;

  background-color: #eff3f7;
}

.page-footer__wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.copyright {
  display: inline-block;
  padding-top: 31px;
  padding-left: 320px;

  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #4a545d;
}

/*Accordion*/

.accordion-nav__int--hidden {
  display: none;
}

.accordion-main__wrapper {
  position: relative;

  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 216px;
  height: 39px;
  margin-left: -122px;
  padding-top: 168px;
}

.accordion-nav {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 459px;
  margin-top: 230px;
  margin-left: -230px;
}

.accordion-nav ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.accordion-nav__item {
  position: relative;

  display: block;
  margin-bottom: 5px;

  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  font-family: "Fira Sans", Arial, sans-serif;

  border-radius: 20px;
}

.accordion-nav__item:nth-child(odd) {
  background-color: #696666;
}

.accordion-nav__item:nth-child(even) {
  background-color: #e7e7e7;
}

.accordion-nav__item.accordion-nav__item--show {
  background-color: #e7e7e7;
}

.accordion-nav__item::before {
  content: " ";
  position: absolute;
  top: 16px;
  right: 21px;

  width: 0;
  height: 0;

  border-top: 12px solid #ff8663;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  cursor: pointer;
}

.accordion-nav__item--show::before {
  display: none;
}

.accordion-nav__item--show::after {
  content: " ";
  position: absolute;
  top: 14px;
  right: 21px;

  width: 0;
  height: 0;

  border-right: 7px solid transparent;
  border-bottom: 12px solid #ffffff;
  border-left: 7px solid transparent;
  cursor: pointer;
}

.accordion-nav__item a {
  display: block;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 20px;

  color: #4f4f4f;
  text-decoration: none;

  border-radius: 20px;
}

.accordion-nav__item.accordion-nav__item--show a {
  background-color: #ff8663;
}

.accordion-nav__item:nth-child(odd) a {
  color: #ffffff;
}

.accordion-nav__item:nth-child(even) a {
  color: #4f4f4f;
}

.accordion-nav__item--show a {
  color: #ffffff;
}

.accordion-nav__item-int {
  padding-left: 20px;

  font-weight: 300;
  font-size: 15px;
  line-height: 26px;
  font-family: "Fira Sans", Arial, sans-serif;
  color: #4f4f4f;

  background-color: #e7e7e7;
}

.accordion-nav__item-int:first-child {
  padding-top: 8px;
}

.accordion-nav__item-int:last-child {
  padding-bottom: 6px;

  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
